<h2>New User</h2>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>


<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="email">Email</label>
      <input type="text"
        name="user[email]"
        id="email"
      <br>

  <label for="password">Password</label>
      <input type="text"
        name="user[password]"
        id="password"
      <br>
  <div1 class="submit">
  <input type="submit" value="submit">
  </div1>
</form>
